/* NOTES */
.note {
  margin: 0;
}

.note-bezel {
  background-color: #000;;
  padding: 1px;
  position: relative;
}
.note-bezel > .nav {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
}

.note-content {
  background-color: #fff;
}

/* Utils */
.hide {
  display: none;
}

