#wall > div { /* Debug code */
  /* outline: 1px solid #4FD5D6; */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

/* UI */
#add-note {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0;
}

#add-note img {
  padding: 4px;
  width: 40px;
  height: 40px;
}

/* NOTES */
.note {
  padding: 10px;
  margin: 0;
  float: left;
}

.note-bezel {
  background-color: #efefef;
  padding: 30px;
}
.note-bezel > .nav {
  float: right;
}

.note-content {
  background-color: #fff;
  padding: 0;
  margin: 0;
  width: 250px;
  height: 250px;
}

/* Utils */
.hide {
  display: none;
}
